


/* BASIC RESET */
ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,body,html,p,blockquote,fieldset,input{margin:0; padding:0;}

/* HTML ELEMENTS */
body { 
	font-family:Georgia,serif; font-size:13px; background: #1d1d1d; color: #fff; 
}

.tittle {
	margin:75px 0 5px 0; padding:15px; border-left-width:10px;
}


h1{
	text-align: center;
	line-height: 35px;
}
p {
 margin:10px 0; 
}

a {
 color:#eee; 
}

/* COMMON CLASSES */
.break { 
	clear:both;
	 }

/* WRAPPER */
#wrapper { 
	width:800px;
	margin:0 auto;
	 }

/* JCHARACTERFALL */
#jcharacterfall {
 margin:20px 0;
  }

#gamestart { 
	text-align:center;
}

#gamestart p { 
	margin:10px; 
}

.extrapadding { 
	padding-top:50px;
}

#gamecontainer { 
	width:1200px;
	margin:0 auto; 

}


#waterfall {
 width:900px; 
 height:650px; 
 float:left; 
 background-color:#DCEAF7; 
 margin-left: -100px; 
-moz-box-shadow: 0 0 10px #adadad; 
-moz-border-radius: 5px; 
-webkit-box-shadow: 0 0 10px #adadad; 
-webkit-border-radius: 5px; 
}

#gamestats {
 width:98px; 
 height:650px; 
 margin-left:50px; 
 float:left; 
 border:1px solid white;
	-moz-box-shadow: 0 0 10px #adadad; 
	-moz-border-radius: 5px; 
	-webkit-box-shadow: 0 0 10px #adadad; 
	-webkit-border-radius: 5px; 
}
	

.fallingchar {
 background-image:url("../images/drop.png"); 
 width:31px; 
 height:80px; 
 background-repeat:no-repeat; 
}

.fallingchar p { 
	padding:18px 0px; 
	font-family:"Helvetica Neue",Arial,Helvetica,sans-serif; 
	font-weight:bold; 
	font-size:24px;
	text-shadow: red 0 1px 0; 
	color: white; 
    margin:0; 
    text-align:center; 
}

.stats { 
	text-align:center;
	 display:none;
	  }

.counter { 
	font-size:30px;
	font-style:italic;
	font-weight:bold;

}

#diffeasy { 
	cursor:pointer; 
}

#diffhard {
 cursor:pointer;
  }

.gameoverscreen { 
	text-align:center;
	background-color:#818181;
	width:200px;
	height:395px;
	position:absolute; 
	margin-left:345px; 
	margin-top:120px; 
	padding: 10px;
	-moz-box-shadow: 0 0 10px #adadad; 
	-moz-border-radius: 5px; 
	-webkit-box-shadow: 0 0 10px #adadad; 
	-webkit-border-radius: 5px; 
}

.gameoverscreen h2 { 
	margin:0; 
}

#info { 
	margin-top:40px;
	 }